{% extends '@KolomietsMy/layout.html.twig' %}
{% block title %}Contacts{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">Contacts</h1>
            {% include '@KolomietsMy/_urls.html.twig' with { urls: urls } %}
            <h2>{{ company|capitalize }}</h2>
            <ul>
                {% for key, contact in contacts %}
                    {% if key == 'address' %}
                        <li><b>{{ key }} : {{ contact|capitalize }}</b></li>
                    {% else %}
                        <li>{{ contact }}</li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
